body {
    font-family: "Oxanium Variable", serif !important;
    background: var(--surface);
}

.fade {
    animation: fade-in .6s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
}